<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Block Chain Lab</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Page 1-1</a>
                        </li>
                        <li>
                            <a href="#">Page 1-2</a>
                        </li>
                        <li>
                            <a href="#">Page 1-3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="app.smartcontract">Smart Contract</a>
                </li>
                <li>
                    <a ui-sref="app.store">Store - Get Data</a>
                </li>
            </ul>
        </div>
    </nav>
    <ui-view></ui-view>
</div>