<h1>Store Data Test</h1>
<h5>Store</h5>
<input type="file"  id="files">
<textarea class="form-control" name="" id="" cols="30" rows="10" ng-model="data"></textarea>
<br>
<button type="button" class="btn btn-primary" ng-click="store(data);">Store</button>
<button type="button" class="btn btn-primary" ng-click="retrive();">Retrive</button><br>
<a href="" id="dwnldLnk"></a>