<h1>Local Chain Status</h1>
<h3>Coinbase : {{coinbase}}</h3>
<br>

<h4><u>Account lists</u></h4>
<div  ng-repeat="account in accounts">
<span>{{account}}</span>
<button class="btn-xs btn btn-default" ng-click="unlock(account)"> Unlock</button>
</div>