<h1>Smart Contract</h1>

<h5>Contract code {{cost? " : "+cost:""}}</h5>
<textarea class="form-control" name="" id="" cols="30" rows="10" ng-model="contract"></textarea><br>
<button type="button" class="btn btn-primary" ng-click="deploy();">Deploy</button>
<button type="button" class="btn btn-primary" ng-click="estimateGas();">Estimate Cost</button>


